<div style="background-color: rgb(122, 181, 236); ">

    <div class="container">
        <div class="row">

            <div *ngFor="let i of bb" class="container col-lg-9" style="margin-bottom: 1%;">

                <div class="card">
                    <div class="row">


                        <div class="col-lg-1" style="margin-top: 2%;">
                            <button class="btn btn-primary">+</button>
                            <button class="btn btn-primary">{{i.score}}</button>
                            <button class="btn btn-primary">+</button>
                        </div>
                        <div class="col-lg-11">
                            <div class="row" style="margin-top: 2%;">
                                <div class="col-lg-1">
                                    <img src={{i.user.image.png}} alt="">
                                </div>

                                <div class="col-lg-5" style="margin-left: 2%; margin-top: 2%;">

                                    <div class="row">
                                        <div class="col-lg-3" *ngIf="i.user.username == noreply">
                                            <p style="background-color: blueviolet; border-radius: 2em;"
                                                class="text-white text-center">You</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <strong style="margin-right: 1%;"> {{i.user.username}} </strong>
                                        </div>

                                        <div class="col-lg-5">
                                            <p> {{i.createdAt}}</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-5 ">
                                    <div *ngIf="i.user.username != noreply" class="row" style="margin-top: 5%;">
                                        <div class="col-lg-7" style="margin-left: 8%;"></div>
                                        <div class="col-lg-1">
                                            <img src="assets/images/icon-reply.svg" alt="">
                                        </div>
                                        <div class="col-lg-3">
                                            <strong style="color:blueviolet;cursor: pointer;"
                                                (click)="funn(i.id,i.user.username)">Reply</strong>
                                        </div>
                                    </div>
                                    <div *ngIf="i.user.username == noreply" class="row" style="margin-top: 5%;">
                                        <div class="col-lg-3" style="margin-left: 3%;"></div>
                                        <div class="col-lg-1">
                                            <img src="assets/images/icon-delete.svg" alt="">
                                        </div>
                                        <div class="col-lg-3">
                                            <p class="text-danger" style="cursor: pointer;"(click)="delete(i.id)"> delete</p>
                                        </div>
                                        <div class="col-lg-1">
                                            <img src="assets/images/icon-edit.svg" alt="">
                                        </div>
                                        <div class="col-lg-3">
                                            <strong style="color:blueviolet;cursor: pointer;"
                                                (click)="funn(i.id,i.user.username)">edit</strong>
                                        </div>


                                    </div>

                                </div>
                            </div>

                            <p>{{i.content}}</p>

                        </div>

                    </div>
                    <div *ngIf="tem && i.id == com">
                        <div class="container">
                            <hr>
                        </div>


                        <div class="row " style="margin-left: 3%; margin-top: 3%">

                            <div class="col-lg-1">
                                <img src={{bd.currentUser.image.png}} alt="">
                            </div>
                            <div class="col-lg-8" style="margin-left: 5%;">
                                <textarea name="" id="" cols="50" rows="4" class="form-control"
                                    style="margin-bottom: 5%;" [(ngModel)]="reply"></textarea>
                            </div>
                            <div class="col-lg-2">
                                <button class=" btn btn-primary" (click)="sendReply(i.id)">Reply</button>
                            </div>

                        </div>
                    </div>

                </div>
                <div *ngFor="let rep of i.replies" class="card bg-light" style="margin-left: 20%; margin-top: 1%;">

                    <div class="row">
                        <div class="col-lg-1" style="margin-top: 2%;">
                            <button class="btn btn-primary">+</button>
                            <button class="btn btn-primary">{{rep.score}}</button>
                            <button class="btn btn-primary">+</button>
                        </div>
                        <div class="col-lg-11" style="margin-top: 2%;">

                            <div class="row">
                                <div class="col-lg-1">
                                    <img src={{rep.user.image.png}} alt="">
                                </div>
                            <!-- //////////////////////////// -->
                                <div class="col-lg-10" style="margin-top: 2%; margin-left:3%">
                                    <div class="row">
                                        <div class="col-lg-2" *ngIf="rep.user.username == noreply">
                                            <p style="background-color: blueviolet; border-radius: 2em;"
                                                class="text-white text-center">You</p>
                                        </div>
                                        <div class="col-lg-5">
                                            <p> <strong> {{rep.user.username}}</strong> {{rep.createdAt}}</p>
                                        </div>
                                        <div class="col-lg-5">
                                            <div *ngIf="rep.user.username == noreply" class="row" style="margin-top: 2%;">
                                                
                                                <div class="col-lg-1">
                                                    <img src="assets/images/icon-delete.svg" alt="">
                                                </div>
                                                <div class="col-lg-4">
                                                    <p class="text-danger" style="cursor: pointer;" (click)="deleteR(i.id,rep.id)"> delete</p>
                                                </div>
                                                <div class="col-lg-1">
                                                    <img src="assets/images/icon-edit.svg" alt="">
                                                </div>
                                                <div class="col-lg-4">
                                                    <strong style="color:blueviolet;cursor: pointer;"
                                                        (click)="funn(i.id,i.user.username)">edit</strong>
                                                </div>
        
        
                                            </div>
                                        </div>
                                    </div>
                                    
                                    

                                    <!-- ////////////////////////// -->
                                </div>
                            </div>
                            <p> {{rep.content}}</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card container col-lg-9" style="margin-top: 5%; margin-bottom: 5%">
                <div class="row " style="margin-left: 3%; margin-top: 3%">

                    <div class="col-lg-1">
                        <img src={{bd.currentUser.image.png}} alt="">
                    </div>
                    <div class="col-lg-8" style="margin-left: 5%;">
                        <textarea name="" id="" cols="50" rows="4" class="form-control" style="margin-bottom: 5%;"
                            [(ngModel)]="text"></textarea>
                    </div>
                    <div class="col-lg-2">
                        <button class=" btn btn-primary" (click)="send()">SEND</button>
                        <!-- <button class=" btn btn-primary"(click)="sendReply()">SENDR</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>