<div style="background-color: rgb(122, 181, 236); ">

    <div class="container">
        <div class="row">

            <div *ngFor="let i of comments" class="container col-lg-8" style="margin-bottom: 1%;">

                <div class="card">
                    <div class="row">


                        <div class="col-lg-1 col-md-1" style="margin-top: 2%;" w>
                            <button class="btn btn-primary">+</button>
                            <button class="btn btn-primary" disabled>{{i.score}}</button>
                            <button class="btn btn-primary">+</button>
                        </div>
                        <div class="col-lg-11 col-md-11">
                            <div class="row" style="margin-top: 2%;">
                                <div class="col-lg-1 col-md-1">
                                    <img src={{i.user.image.png}} alt="">
                                </div>

                                <div class="col-lg-5 col-md-5" style="margin-left: 2%; margin-top: 2%;">

                                    <div class="row">
                                        <div class="col-lg-3 col-md-3" *ngIf="i.user.username == noreply">
                                            <p style="background-color: blueviolet; border-radius: 2em;"
                                                class="text-white text-center">You</p>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <strong style="margin-right: 1%;"> {{i.user.username}} </strong>
                                        </div>

                                        <div class="col-lg-5 col-md-5">
                                            <p> {{i.createdAt}}</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-5 col-md-5">
                                    <div *ngIf="i.user.username != noreply" class="row" style="margin-top: 5%;">
                                        <div class="col-lg-7 col-md-7" style="margin-left: 8%;"></div>
                                        <div class="col-lg-1 col-md-1">
                                            <img src="assets/images/icon-reply.svg" alt="">
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <strong style="color:blueviolet;cursor: pointer;"
                                                (click)="funn(i.id,i.user.username)">Reply</strong>
                                        </div>
                                    </div>
                                    <div *ngIf="i.user.username == noreply" class="row" style="margin-top: 5%;">
                                        <div class="col-lg-3 col-md-3" style="margin-left: 3%;"></div>
                                        <div class="col-lg-1 col-md-1">
                                            <img src="assets/images/icon-delete.svg" alt="">
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <p class="text-danger" style="cursor: pointer;"(click)="delet(i.id)"> delete</p>
                                        </div>
                                        <div class="col-lg-1 col-md-1">
                                            <img src="assets/images/icon-edit.svg" alt="">
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <strong style="color:blueviolet;cursor: pointer;"
                                                (click)="editar(i.id,i.user.username)">Edit</strong>
                                        </div>


                                    </div>

                                </div>
                            </div>

                            <p>{{i.content}}</p>

                        </div>

                    </div>
                    <div *ngIf="tem && i.id == com">
                        <div class="container">
                            <hr>
                        </div>


                        <div class="row " style="margin-left: 3%; margin-top: 3%">

                            <div *ngIf="ed" class="col-lg-1 col-md-1" width="5px" height="5px">
                                <img src={{database.currentUser.image.png}} alt="">
                            </div>
                            <div class="col-lg-8 col-md-8" style="margin-left: 5%;">
                                <textarea name="" id="" cols="50" rows="4" class="form-control"
                                    style="margin-bottom: 5%;" [(ngModel)]="reply"></textarea>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div *ngIf="ed">
                                    <button class=" btn btn-primary" (click)="sendReply(i.id)">Reply</button>
                                </div>
                                <div *ngIf="!ed">
                                    <button class=" btn btn-primary" (click)="updateText(i.id)">Update</button>
                                </div>
                                
                            </div>


                        </div>
                    </div>

                </div>
                <div *ngFor="let rep of i.replies" class="card bg-light" style="margin-left: 10%; margin-top: 1%;">

                    <div class="row">
                        <div class="col-lg-1 col-md-1" style="margin-top: 2%;">
                            <button class="btn btn-primary" >+</button>
                            <button class="btn btn-primary">{{rep.score}}</button>
                            <button class="btn btn-primary">+</button>
                        </div>
                        <div class="col-lg-11 col-md-11" style="margin-top: 2%;">

                            <div class="row">
                                <div class="col-lg-1 col-md-1">
                                    <img src={{rep.user.image.png}} alt="">
                                </div>
                            <!-- //////////////////////////// -->
                                <div class="col-lg-10 col-md-10" style="margin-top: 2%; margin-left:3%">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2" *ngIf="rep.user.username == noreply">
                                            <p style="background-color: blueviolet; border-radius: 2em;"
                                                class="text-white text-center">You</p>
                                        </div>
                                        <!-- <div class="col-lg-5 col-md-5">
                                            <p> <strong> {{rep.user.username}}</strong> {{rep.createdAt}}</p>
                                        </div> -->
                                        <div class="col-lg-10 col-md-10">
                                            <div *ngIf="rep.user.username != noreply">
                                                <div class="row">

                                                    <div class="col-lg-8 col-md-8" > <p> <strong> {{rep.user.username}}</strong> {{rep.createdAt}}</p></div>
                                                    <div class="col-lg-1 col-md-1">
                                                        <img src="assets/images/icon-reply.svg" alt="">
                                                    </div>
                                                    <div class="col-lg-3 col-md-3">
                                                        <strong style="color:blueviolet;cursor: pointer;"
                                                            (click)="ff(rep.id,rep.user.username)">RReply</strong>
                                                    </div>
                                                </div>
                                                  
                                                      
                                            </div>
                                            <div *ngIf="rep.user.username == noreply" style="margin-top: 2%;">
                                                <div class="row">
                                                    <div class="col-lg-5 col-md-6" > <p> <strong> {{rep.user.username}}</strong> {{rep.createdAt}}</p></div>
                                                    <div class="col-lg-1 col-md-1">
                                                        <img src="assets/images/icon-delete.svg" alt="">
                                                    </div>
                                                    <div class="col-lg-3 col-md-3">
                                                        <p class="text-danger" style="cursor: pointer;" (click)="deleteR(i.id,rep.id)"> delete</p>
                                                    </div>
                                                    <div class="col-lg-1 col-md-1">
                                                        <img src="assets/images/icon-edit.svg" alt="">
                                                    </div>
                                                    <div class="col-lg-2 col-md-3">
                                                        <strong style="color:blueviolet;cursor: pointer;"
                                                            (click)="editR(i.id,rep.id)">Edit</strong>
                                                    </div>

                                                </div>
                                                
        
        
                                            </div>
                                        </div>
                                    </div>
                                    
                                    

                                    <!-- ////////////////////////// -->
                                </div>
                            </div>
                            <p> {{rep.content}}</p>
                        </div>

               
                    </div>
                <!-- area de prueba -->
                <!--  -->
                <div *ngIf="edR && rep.id == com">
                    <div class="container">
                        <hr>
                    </div>


                    <div class="row " style="margin-left: 3%; margin-top: 3%">

                        
                        <div class="col-lg-8 col-md-8" style="margin-left: 5%;">
                            <textarea name="" id="" cols="50" rows="4" class="form-control"
                                style="margin-bottom: 5%;" [(ngModel)]="reply"></textarea>
                        </div>
                        <div class="col-lg-2 col-md-2">
                                <div *ngIf="rep.user.username != noreply">
                                    <button class=" btn btn-primary" (click)="sendRReply(i.id)">Reply</button>
                                </div>
                        
                                <div *ngIf="rep.user.username == noreply">
                                    <button class=" btn btn-primary" (click)="updateTextR(i.id,rep.id)">Update</button>
                                </div>
                                
                                                     
                        </div>


                    </div>
                </div>

                <!-- fin de area de prueba -->
                </div>
               
            </div>
            <!-- nnnnnnnnnnnnn -->
            <div class="card container col-lg-9 col-md-9 " style="margin-top: 5%; margin-bottom: 5%; position: fixed-bottom "  >
                <div class="row " style="margin-left: 3%; margin-top: 3%">

                    <div class="col-lg-1 col-md-1" >
                        <img src={{database.currentUser.image.png}} alt="">
                    </div>
                    
                    <div class="col-lg-8 col-md-8" style="margin-left: 5%;">
                        <textarea name="" id="" cols="50" rows="4" class="form-control" placeholder="Escriba un comentario..." style="margin-bottom: 5%;"
                            [(ngModel)]="text"></textarea>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <a class=" btn btn-primary"  (click)="send()" id="fin" href="#fin">SEND </a>
                        <!-- <a href="#fin">hcomments</a> -->
                        <!-- <button class=" btn btn-primary" hr>SENDR</button> -->
                    </div>
                </div>
            </div>
            <!-- mmmmmmmmmmmmmmmmmmmmmmmmm -->
        </div>
    </div>
</div >
<!-- <div id="fin" style="position: fixed-bottom;">

</div> -->
